#header{
    display:flex;
    padding-top: 3%;
}
#logo_image{
    float: left;
}
#waitlist_button{
    border-radius: 20px;
}
#form_button{
    text-decoration: none;
    margin-left: 70%;
    border-radius: 20px;
    font-weight: bold;
}